@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body > h1 {
    font-size: 50px;
    font-family: 'Sigmar One', cursive;
}

/* Navigation bar code */
nav {
    display: flex;
    justify-content: space-evenly;
}

nav > a {
    text-decoration: none;
    color: black;
    
}

nav > a:hover {
    font-weight: bold;
    text-decoration: underline;
}
/* ------------------------------------------------ */
/* These code blocks are for the post submission form */

input, textarea, body > div > section, button {
    border: 1px solid rgb(216, 210, 210);
    border-radius: 8px;
    padding: 10px;
}

.outer-form {
    display: flex;
    flex-direction: column;
    width: 26%;
    margin: 20px auto;
    border: 1px solid rgb(236, 235, 235);
    border-radius: 8px;
    padding: 30px 30px 10px 30px;
}


.outer-form > textarea:nth-of-type(1) {
    height: 100px;
    resize: none;

}

.outer-form > textarea:nth-of-type(2) {
    height: 50px;
    resize: none;
}

.outer-form > .hidden2, .outer-form > .hidden3 {
    display: none;
}

.outer-form > p {
    margin: 5px 0 10px 0;
    font-weight: bold;
    color: rgb(211, 58, 58);
}

.outer-form > .submit {
    background-color: #55d17c;
}

.outer-form > .gif_search {
    width: 82%;
}

.outer-form > input, .outer-form > textarea {
    margin-bottom: 10px; 
}

.outer-form > #one_gif > input {
    display: block;
    margin: 0 auto;
    background-color: #D0342C;
    color: white;
    font-weight: bold;
}

.outer-form > .gifSearchForm > input[class="search_bar"] {
    margin-left: 10px;
    margin-top: 10px;
}

.outer-form > .gifSearchForm > .gif-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.outer-form > .gifSearchForm > .gif-list > img {
    width: auto;
    height: 200px;
    margin: 5px;
}

/* ------------------------------------------------ */

/* These code blocks are for each post */
div {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}


div > section {
    width: 50%;
    margin: 5px auto 40px;
    padding: 20px;
    position: relative;
    background-color: #f5f4ee;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}

div > section h2 {
    padding-top: 20px;
}

div > section button {
    background-color: #74ffa0;
}

div > section button:hover {
    background-color: #55d17c;
    font-weight: bold;
}

div > section h5 {
    position: absolute; 
    top: -10px; 
    right: 10px;
}

section > .reactions {
    margin: 10px auto;
    border: 1px solid rgb(216, 210, 210);
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
}

/* The hidden class which toggles the hiding/showing of the comment section */
section > .hidden {
    display: none;
}

section > .reactions label {
    margin-left: 20px;
    margin-right: 5px;
}

section > .comment-section p {
    border: 1px solid rgb(236, 235, 235);
    border-radius: 8px;
    padding: 20px;
    width: 65%;
    word-wrap: break-word;
    margin: 10px auto;
    background-color: white;    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

section > .reactions label:nth-of-type(1) {
    margin-left: 10px;
}

section > .reactions input:nth-of-type(3) {
    margin-right: 10px;
}

section > .comment-form > input {
    margin-left: 10px;
}

section > h1, section > h2 {
    word-wrap: break-word;
}

section > button {
    margin-top: 10px;
}

/* ------------------------------------------------ */

/* Code for responsive design */
@media screen and (max-width: 1800px) {
    .outer-form {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .outer-form {
        width: 60%;
    }

    div > section {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    div > section > img {
        width: 100%;
    }
}