/* ------------------------------------------------ */

/* These code blocks are for each post */
#jokes {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	margin: 25px 50px;
}

#sortingdiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 20px auto 0 auto;
	width: 50%;
}

#sortingdiv label {
	width: 75px;
}

#sortBy {
	border: 1px solid rgb(216, 210, 210);
	border-radius: 8px;
	padding: 5px;
	font-family: Glory;
	font-size: 15px;
	margin-right: 25px;
	width: 125px;
}

input, body > div > section
{
	border: 1px solid rgb(216, 210, 210);
	border-radius: 8px;
	padding: 10px;
	font-family: Glory;
	font-size: 20px;
}

div > section {
	width: 50%;
	margin: 5px auto 40px;
	padding: 20px;
	position: relative;
	background-color: #f5f4ee;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

div > section h2 {
	padding-top: 20px;
}

div > section h5 {
	position: absolute;
	top: -10px;
	right: 10px;
}

h3 {
	margin: 0;
}

section > .reactions {
	margin: 5px auto;
	width: fit-content;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.emoji-div {
	display: flex;
	align-items: center;
	/* border: 1px solid rgb(216, 210, 210); */
	border-radius: 50%;
	padding: 2px;
	margin: 0 5px;
}

.emoji-div input {
	background-color: #f5f4ee;
	border: none;
	width: 50px;
	height: 50px;
	font-size: 30px;
	padding: 0;
	border-radius: 50%;
	transition: font-size 0.3s;
}

.emoji-div input:hover {
	cursor: pointer;
	font-size: 40px;
}

.emoji-div label {
	margin-right: -5px;
	z-index: 3;
	font-size: 15px;
	color: #97968f
}

/* The hidden class which toggles the hiding/showing of the comment section */
section > .hidden {
	display: none;
}

section > .comment-section p {
	border: 1px solid rgb(236, 235, 235);
	border-radius: 8px;
	padding: 20px;
	width: 65%;
	word-wrap: break-word;
	margin: 10px auto;
	background-color: white;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.comment-form {
	margin-bottom: 10px;
}

section > .comment-form > input {
	margin-left: 10px;
	margin-top: 10px;
	max-width: 90%;
}

section > h1,
section > h2 {
	word-wrap: break-word;
}

.button {
	margin-bottom: -5px;
	margin-top: 10px;
}

/* ------------------------------------------------ */

/* Code for responsive design */

@media screen and (max-width: 1000px) {
	#sortingdiv {
		margin-right: 50px;
		width: 100%;
	}
	#sortBy {
		margin-right: 50px;;
	}
	div > section {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	div > section > img {
		width: 100%;
	}
}

@media only screen and (max-width: 300px) {
	#sortingdiv {
		flex-direction: column;
	}

	#sortBy {
		margin: 5px auto 0 auto;
	}
}
