/* ------------------------------------------------ */

/* These code blocks are for each post */
#jokes {
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	margin: 25px 50px;
}

#sortingdiv {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 20px auto 0 auto;
	width: 50%;
	max-width: 850px;
}

#sortingdiv label {
	width: 75px;
}

#sortBy {
	border: 1px solid rgb(216, 210, 210);
	border-radius: 8px;
	padding: 5px;
	font-family: Glory;
	font-size: 15px;
	margin-right: 25px;
	width: 125px;
}

input, body > div > section
{
	border-radius: 8px;
	font-family: Glory;
	font-size: 20px;
}

input {
	border: 1px solid rgb(216, 210, 210);
	padding: 10px;
}

div > section {
	width: 50%;
	max-width: 800px;
	margin: 5px auto 40px;
	padding: 20px;
	position: relative;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

div > section:nth-of-type(4n) {
	background-color: #ffe44d;
}
div > section:nth-of-type(4n+1) {
	background-color: #3a8fff;
}
div > section:nth-of-type(4n+2) {
	background-color: #ff593b;
}
div > section:nth-of-type(4n+3) {
	background-color: #71d453;
}

div > section h2 {
	padding-top: 20px;
}

div > section h5 {
	position: absolute;
	top: -10px;
	right: 10px;
}

h3 {
	margin: 0;
}

img {
	margin-top: 20px;
	margin-bottom: 20px;
}

section > .reactions {
	margin: 5px auto;
	width: fit-content;
	padding: 2px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.emoji-div {
	display: flex;
	align-items: center;
	padding-left: 10px;
	margin: 5px;
	border-radius: 8px;
	background-color:rgba(255, 255, 255, 0.404)
}

.emoji-div input {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	width: 50px;
	height: 50px;
	font-size: 30px;
	padding: 0;
	border-radius: 50%;
	transition: font-size 0.3s;

}

.emoji-div input:hover {
	cursor: pointer;
	font-size: 40px;
}

.emoji-div label {
	margin-right: 0;
	z-index: 3;
	font-size: 15px;
	color: #646464
}

#jokes .button {
	background-color: white;
}

#jokes section > .button:hover {
	background-color: rgb(126, 126, 126);
}
/* The hidden class which toggles the hiding/showing of the comment section */
section > .hidden {
	display: none;
}

section > .comment-section p {
	border: 1px solid rgb(236, 235, 235);
	border-radius: 8px;
	padding: 20px;
	width: 65%;
	word-wrap: break-word;
	margin: 10px auto;
	background-color: white;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.comment-form {
	width: max-content;
	margin: 0 auto 10px auto;
	background-color: white;
	border-radius: 8px;
}

section > .comment-form > input {
	margin: 0 5px;
	max-width: 90%;
	border: none;
}
section > .comment-form > input:focus-visible {
	outline: none;
}

.comment_input {
	width: 150px;
}

.send-comment {
	width: 25px;
	padding: 0;
	padding-right: 15px;
	color: rgb(126, 126, 126)
}

.send-comment:hover {
	background-color: white;
	color: black;
}

section > h1,
section > h2 {
	word-wrap: break-word;
}

section > button:nth-of-type(2) {
	margin-bottom: 20px;
	margin-top: 0;
}


/* ------------------------------------------------ */

/* Code for responsive design */

@media screen and (max-width: 1150px) {
	#sortingdiv {
		/* margin-right: 50px; */
		width: 70%;
	}
	#sortBy {
		margin-right: 35px;;
	}
	div > section {
		width: 70%;
	}
}

@media screen and (max-width: 850px) {
	#sortingdiv {
		margin-right: 50px;
		width: 100%;
	}
	#sortBy {
		margin-right: 50px;;
	}
	div > section {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	div > section > img {
		width: 100%;
	}
}

@media only screen and (max-width: 300px) {
	#sortingdiv {
		flex-direction: column;
	}

	#sortBy {
		margin: 5px auto 0 auto;
	}
}
