@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Glory:wght@400;700&family=Luckiest+Guy&display=swap");

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
}

body {
	font-family: Glory;
	text-align: center;
}

h1,
nav,
header {
	background-color: rgb(95, 95, 243);
}

h1 {
	font-size: 60px;
	font-family: "Luckiest Guy", cursive;
	margin-top: 0;
	padding-top: 35px;
	margin-bottom: 0;
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: space-evenly;
	font-family: Glory;
	font-size: 20px;
	position: sticky;
	top: 0;
	z-index: 5;
}
h1 > a{
	text-decoration: none;
	color: black;

}
nav > a {
	text-decoration: none;
	color: black;
	width: 125px;
}

nav > a:hover {
	font-weight: bold;
}

.button {
	margin: 0 10px;
	text-align: center;
	padding: 10px 25px;
	border: none;
	border-radius: 5px;
	font-family: Glory;
	font-size: 20px;
}

.button:hover {
	cursor: pointer;
}

.grey-button:hover {
	background-color: rgb(126, 126, 126);
	color: white;
}

.green-button {
	background-color: #37d368;
}

.green-button:hover {
	background-color: #308b4d;
	color: white;
}

.red-button {
	background-color: rgb(226, 55, 55);
}

.red-button:hover {
	background-color: rgb(168, 21, 21);
	color: white;
}

@media only screen and (max-width: 300px) {
	nav {
		display: block;
		padding: 1px;
	}
}